
#date-input {display:none;}
.icon {height: 25px;width:25px;}
.listCard, .listCard-complete {width:420px;height:500px;background:darkSlateGrey; color: white;perspective: 1000px; margin:50px;}


/* This container is needed to position the front and back side */
.listCard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;

  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you complete a list */
.listCard-complete .listCard-inner {
  transform: rotateY(180deg);
}


/* Position the front and back side */
.listCard-front, .listCard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}


/* Style the back side */
.listCard-back {
  background-image: url(https://images.unsplash.com/photo-1542736705-53f0131d1e98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);background-position: center;background-size: cover;
  transform: rotateY(180deg);
}


.listCard ul {list-style: none;margin:0 auto;padding:0px;max-height:400px;max-height:400px;overflow-y:auto;}
.listCard-complete ul {
display:none;
}
li.complete{opacity:0.7;}
li.hide{display:none;}
li {margin: 10px; color: black;font-size: 1.2em;background:white;display:flex;flex-direction: row;flex:1;align-content: space-between;padding:5px;}
.task_title {margin:5px 10px;flex:1;font-size:0.8em;}
.date{display:inline-block;flex-grow: 0;font-size:0.8em;}
.remove{display:inline-block;flex-grow:0;height:25px;margin-left:10px;}
li input[type="checkbox"] {width:25px;height:25px}
h2 {background: black; text-align: center;}
